/web/bundles/
/web/uploads/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/log
!app/cache/.gitkeep
!app/logs/.gitkeep
/src/Treewer/TreewerBundle/Resources/public/vendor/*
!/src/Treewer/TreewerBundle/Resources/public/vendor/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
.DS_Store
*.php~
.idea/
